.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    display: flex;
    align-items: center;
}

.footer-icon{
    color: grey;
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 10px;
    margin-right: 40px;
    cursor: pointer;
}

.footer-navs{
    display: flex;
    align-items: center;
    margin-top: 30px;
}


.footer-link {
    color: grey;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
    transition: font-size 0.3s, letter-spacing 0.3s;
  }
  
  .footer-link:hover {
    font-size: 17px;
    color: teal;
    font-weight: bold;
    letter-spacing: 5px;
  }
  

.footer-txt{
    color: gray;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
}