body{
  margin: 0px;
}

button{
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

li{
  list-style-type: none;
}


ul{
  padding-left: 0px;
}


h1{
  margin-top: 0px;
  margin-bottom: 0px;
}